body {
  /* background-image: url(../img/dreamboat.jpg);
  background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center; */
	background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.animated {
  -webkit-animation-duration: 3.0s;
  animation-duration: 3.0s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.li {
  font: color black;
}

div.section {
    min-height: 500px;
}
div.section .row {
    height: 100%;
}
div.section .col {
    height: 100%;
}

.parallax-container {
      height: 500px;
    }
.parallax-container.splash {
    height: 1000px;
}

#portrait-panel {
    min-height: 600px;
}
#portrait-panel img {
    display: block;
    margin: 0 auto;
    transition: transform .4s ease-in-out;
}

#portrait-panel img:hover {
    transform: scale(1.1);
}

#section2 div.col {
    transition: transform .4s ease-in-out;
}
#section2 div.col:hover {
    transform: scale(1.1);
}

.iconMargin {
    margin: 0 .5rem;
}

